[submodule "store/submodule"]
	path = store/submodule
	url = https://github.com/smebdi/git-submodule-example.git
[submodule "store/submodule3"]
	path = store/submodule3
	url = https://github.com/smebdi/git-submodule-example-3.git
